.card{
    height: 429px;
    width: 241px;
    border: 1px;
    border-style: double;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.img{
    background-color: grey;
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
}
.description{
    text-align: left;
    font-size: 16px!important;
    line-height: 24px!important;
    
}
.symbol{
    color: #b12704;
    text-align: left;
    font-size: 21px;
    cursor: pointer;
}
.choice{
    color: #565959!important;
    font-size: 14px!important;
    line-height: 20px!important;
}
.description:hover{
    cursor: pointer;
    color: orangered;
    
}
#link:hover{
    cursor:pointer;
    color: orangered;
}